@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  background-image: none !important;
  background: black !important;
}

* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #10192d #020617; /* thumb | track */
}
